* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
}
